@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*---navbar----*/

.navalert-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	margin-bottom: 0;
	width: 100%;
	background-color: #ffc34d;
	border: 0;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .navbar-nav a {
	font-weight: bold;
}


/* Footer */

#footer-details {
    padding: 20px;
    background-color: #fafaff
}

.far {
    color: #ffc34d;
    font-size: 30px;
}

.fab {
    color: #ffc34d;
    width: 50px;
    height: 32px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 7px;
}

.uppercase {
    color: #0000e6;
    font-weight: bold;
}

/* pawnbroking */
.pawning {
    padding: 20px;
    text-align: justify;
    margin: 0;
}
.fas {
    color: #ffc34d;
}

.pawn-title {
    color: #0000e6;
    font-weight: bold;
}

.para {
    font-family: "roboto",sans-serif;
}

/*----covid alert------*/
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.alert-warning {
    color:red;
    background-color: #ffc34d;
    border-color: #ffc34d;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 0;
    text-align: center;
    font-size: 23px;
}

/* Form */

.contact-heading{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 35px;

}

.center-form {
    margin: 0 auto;
    max-width: 100%;
    font-family: "roboto", sans-serif;
   
}

button[type="enquiries"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
    background-color: #ffc34d;
}

/* review */
.text-uppercase {
	padding: 10px;
	padding-bottom: 0px;
}

.block-divider {
    width: 90px;
    height: 15px;
    border: 0;
    background-color: #ffc34d;
}

.review {
    font: 18px;
    margin: 10px;
    font-family: "roboto",sans-serif;
    font-weight: 300;
}

/* products */
#photo {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0px;
}

#photo img{
    width: 100%;
}

.text {
    text-align: center;
    font-size: 30px;
    color: #0000e6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shoes {
    text-align: center;
    font-size:  50px;
    color: #ffc34d;
    font-weight: bold;
}

.uniform {
    text-align: center;
    font-size: 30px;
    color: #0000e6;
    padding-top: 20px;
    padding-bottom: 20px

}

/* About G&J Geddis */
.container-wrapper--orange {
    background-color: #ffc34d;
    color: black;
    margin: 0;
}

.information {
    text-align: justify;
    margin-bottom: 40px;
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 25px;
}

/* twitter feed */

.twitter {
    text-align: center;
    padding-bottom: 10px;
}

.text-uppercase {
    font-size: 30px;
    color: #0000e6;
    text-align: center;
    font-weight: bold;
    font-family:"roboto",sans-serif;

}

.subtitle {
    font-size: 25px;
     color: #0000e6;
     text-align: center;
     font-weight: 600;
     font-family:"roboto",sans-serif;
}


/*-----Opening hours----*/

.sidebar {
	text-align: center;
	font-size: 16px;
	color: #0000e6;
   font-family: "roboto",sans-serif;
   font-weight: 300;
}

.sidebar2 {
	padding: 0;
	color: black;
	list-style-type: none;
   align-content: center;

	/*-----front-image-----*/
	.container-fluid {
		width: 100%;
		position: relative;
	}

 

 







