
/*---navbar----*/

.navalert-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-left: 0;
	padding-right: 0;
}

.navbar {
	margin-bottom: 0;
	width: 100%;
	background-color: #ffc34d;
	border: 0;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar .navbar-brand {
	font-weight: bold;
}

.navbar .navbar-nav a {
	font-weight: bold;
}

/*----covid alert------*/
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.alert-warning {
    color:#000000e1;
    background-color: #ffc34d;
    border-color: #ffc34d;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
}

/*----twitter-----*/

.twitter-timeline {
	float: right;
}


/*-----welcome to----*/

.sidebar {
	text-align: center;
	font-size: 16px;
	color: #0000e6;
}

.sidebar2 {
	list-style-type: none;
	padding: 0;
	color: black;

	/*-----front-image-----*/
	.container-fluid {
		width: 100%;
		position: relative;
	}

.feature {
    text-align: center;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
}


	/*----pawnbroking----*/
   .pawning {
        padding-top: 10px;
    }

	/*---form---*/
	.col {
		padding-top: 3%;
		width: 5%;
	}




